body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.one {
  grid-area: 1 / 1 / 4 / 4;
  background-image: url("li.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.two {
  grid-area: 1 / 4 / 5 / 6;
  background-image: url("kredki.JPG");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.three {
  grid-area: 4 / 1 / 7 / 3;
  background-image: url("ru2.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.four {
  grid-area: 5 / 3 / 7 / 6;
  background-image: url("ru.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.five {
  grid-area: 4 / 3 / 5 / 4;
  background-image: url("no.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}

